/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;

}

/* buttons */
.delete-btn {
    background-color: #a50f0f;
    color: #ffffff;
    padding: 8px 16px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #7d0808;
}

.delete-btn:focus {
    outline: none;
}

/* forms */
.submit-task-btn:hover {
    background-color: #3e8e41;
}


.show-form {
    display: block;
}

.add-task-form {
    background-color: #f2f2f2;
    padding: 20px;
}

.add-task-form .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
}

.add-task-form .form-group {
    margin-bottom: 10px;
}

.add-task-form .form-group label {
    font-weight: bold;
}