<div class="container">
    <h1 class="my-4">Task Manager</h1>
    <button class="btn btn-success" (click)="toggleAddForm()">Add New Task</button>
    <br><br>
    <div class="add-task-form" *ngIf="showAddForm">
        <h2>Add New Task</h2>
        <form (ngSubmit)="addNewTask()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="addedTask.title" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="addedTask.description"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" (click)="toggleAddForm()">Cancel</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td *ngIf="!task.editing">{{ task.title }}</td>
                <td *ngIf="task.editing"><input type="text" [(ngModel)]="task.title"></td>
                <td *ngIf="!task.editing">{{ task.description }}</td>
                <td *ngIf="task.editing"><textarea [(ngModel)]="task.description"></textarea></td>
                <td>
                    <div *ngIf="!task.editing">
                        {{ task.completed ? 'Yes' : 'No' }}
                    </div>
                    <div *ngIf="task.editing">
                        <input type="checkbox" [(ngModel)]="task.completed" id="completed" name="completed">
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="editTask(task)" *ngIf="!task.editing">Edit</button>
                    <button class="btn btn-success" (click)="updateTask(task)" *ngIf="task.editing">Save</button>&nbsp;
                    <button class="btn btn-secondary" (click)="cancelEdit(task)" *ngIf="task.editing">Cancel</button>
                    <button class="delete-btn" (click)="deleteTask(task.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>